
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(46, 30, 10);
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Rose', cursive;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: azure;
    height: 70px;
}

nav ul li {
    padding: 0 13px;
}

.brand img {
    width: 50px;
    padding: 0 9px;
    max-width: 100%; /* This ensures the image won't exceed its original width */
    height: auto; /* This maintains the aspect ratio of the image */

}

.brand {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

/* main */
.container {
    min-height: 70vh;
    background-color: black;
    color:burlywood;
    display: flex;
    margin: 20px auto;
    width: 70%;
    background-image: url('./Photos/bg.jpg');
    background-size: 100% 100%;

}

/* footer */
.bottom {
    background-color: #0a0a0a;
    color:aliceblue;
    position: sticky;
    height: 80px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons {
    margin-top: 15px;
}

.icons i {
    cursor: pointer;
}

#progressBar {
    width: 80vw;
}